/* cta */


.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

.main-content-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.content-text {
  display: flex;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 30px;
  padding: 20px;
  box-sizing: border-box;
  
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-bottom: 25px;
}

.services-info-img {
  padding: 20px;
  padding-top: 0;
  padding-right: 0;
}

.services-header-paragraph {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: normal;
}

.bottom-content p {
  margin-right: 40px;
}

.bottom-content ul {
  margin-top: 25px;
  line-height: 2;
  font-weight: bolder;
  list-style-type: square;
  margin-left: 20px;
}
.services-header-paragraph h2 {
  font-size: 28px;
}

.services-header-img {
  padding-top: 25px;
}

.content-container .content-text {
  font-weight: normal;
}

.content-container h4 {
  margin: 0
}

button {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  width: 200px;
}